form.studentloginform {
  display: inline-block;
}
.left {
  left: 0;
}

.right {
  float: right;
}

.right-test {
  right: 0;
}

.button {
  float: left;
  width: 15%;
  margin: 5px 5px;
  height: 80%;
  border-radius: 5px;
}
.inline {
  display: inline-block;
}

.login-form {
  margin: 1.5%;
}

.Companybar {
  height: 10%;
}
.CompanyList {
  display: inline-block;
  left: 0;
  width: 30%;
  height: 100%;
}

.CompanyDetail {
  display: inline-block;
  float: right;
  width: 70%;
  height: 100%;
}

.CompanyDetail button {
  margin: 0 5px;
}
.CompanyDetail img {
  height: 30%;
  margin: 0 5px;
}
.CompanyDetail-name {
  height: 10%;
  margin: 10px;
  text-align: left;
}
.CompanyDetail-name div {
  margin: 0 10px;
}
.CompanyDetail button {
  margin: 0 10px;
}
.CompanyDetail-content {
  margin: 5px 5px;
  height: 30%;
  border: 1px solid;
}
.CompanyCard img {
  height: 80%;
  width: 30%;
  left: 0;
  margin: 5px;
}

.CompanyCard-detail {
  float: right;
  padding: 5px;
}
.CompanyCard {
  height: 100px;
  border: 1px solid #000000;
}
