.companyList {
  height: 100%;
}

.companyList-card {
  border-radius: 0 !important;
  border-style: solid !important;
  border-color: #cccccc !important;
  border-bottom: 1px;
  border-top: 0;
  border-left: 0;
  border-right: 1px;
  box-shadow: 0 0 0 0 !important;
}

.companyList-card-selected {
  background: #dcdcdc !important;
}

.companyList-card-logo {
  padding: 22px;
  position: relative;
  float: left;
}

.companyList-card-title {
  padding-top: 15px;
}
