.studentSignUp {
  width: 100%;
}

.studentSignUp-button-top-container {
  width: 100%;
}

.studentSignUp-before {
  float: left;
  padding-left: 15px !important;
  padding-top: 15px !important;
}

.studentSignUp-close {
  float: right;
  padding-right: 15px !important;
  padding-top: 15px !important;
}

.studentSignUp-title {
  padding-top: 10px;
  padding-bottom: 10px;
}

.studentSignUp-Dialog {
  justify-content: center;
}

.studentSignUp-row {
  width: 300px;
}

.studentSignUp-row-left {
  float: left;
  width: 48% !important;
}

.studentSignUp-row-right {
  float: right;
  width: 48% !important;
}

.studentSignUp-table {
  display: table;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.studentSignUp-skill {
  margin: 5px !important;
}

.studentSignUp-body {
  padding-top: 20px;
  padding-bottom: 10px;
}

.studentSignUp-form {
}
