.studentHeader-button-login {
  margin-right: 10px;
  min-width: 120px !important;
}

.studentHeader-button-signup {
  box-shadow: 0 0 0 0 !important;
  margin-left: 15px !important;
  min-width: 120px !important;
}
