.studentHome-img {
  width: 100%;
}

.studentHome-title {
  padding-left: 45px;
  padding-top: 15px;
}

.studentHome-subtitle-container {
  display: flex;
}

.studentHome-subtitle {
  padding-left: 40px;
  padding-top: 10px;
}

.studentHome-subtitle-text {
  padding-left: 5px;
  padding-right: 30px;
}

.studentHome-subtitle-link {
  text-decoration: none;
}

.studentHome-tabs {
  border-color: #cccccc !important;
  border-bottom: 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  padding-top: 20px;
}

.studentHome-tabsIndicator {
  background-color: #000000 !important;
}

.studentHome-selectedTab {
  padding: 45px;
}
