.companyLogIn {
  background: #ffffff;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.companyLogIn-textField {
  width: 30% !important;
  min-width: 300px !important;
}
