.Button-icon {
  fill: #838383 !important;
}

.Button-primary {
  background: #51a8dd !important;
  color: #ffffff !important;
  box-shadow: 0 0 0 0 !important;
}

.Button-secondary {
  color: #51a8dd !important;
  border-color: #51a8dd !important;
}

.Dialog-bottom-button {
  width: 180px;
  margin-top: 20px !important;
  margin-bottom: 25px !important;
  padding: 6px 10px !important;
}

.Dialog-title {
  color: #51a8dd !important;
}

.Dialog-textField {
  margin-left: 30px !important;
  margin-right: 30px !important;
  width: 300px !important;
}

.Filter {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.Filter-button {
  background: #dcdcdc;
  box-shadow: 0 0 0 0 !important;
  margin-left: 15px !important;
  margin-bottom: 15px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.Home {
  padding-top: 55px;
  height: 100%;
}

.Home-body {
  display: flex;
  height: 100%;
}

.Home-left {
  position: relative;
  float: left;
  min-width: 300px;
  max-width: 300px;
  height: 100%;
  padding-left: 30px;
}

.Home-right {
  width: 100%;
  height: 100%;
  padding-right: 30px;
}

.Home-right-card {
  border-radius: 0 !important;
  border-style: solid !important;
  border-color: #cccccc !important;
  border-left: 1px;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  box-shadow: 0 0 0 0 !important;
  height: 100%;
}

.List {
  height: 100%;
}

.List-card {
  border-radius: 0 !important;
  border-style: solid !important;
  border-color: #cccccc !important;
  border-bottom: 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 15px !important;
  box-shadow: 0 0 0 0 !important;
}

.List-card-body {
  display: flex;
  flex-direction: column;
}

.List-card-selected {
  background: #dcdcdc !important;
}

.List-card-logo {
  padding-right: 22px;
  position: relative;
  float: left;
}

.List-card-title {
}

.Profile-icon {
  fill: #838383 !important;
  width: 1.5em !important;
  height: 1.5em !important;
}
