.Filter {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.Filter-button {
  background: #dcdcdc;
  box-shadow: 0 0 0 0 !important;
  margin-left: 15px !important;
  margin-bottom: 15px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}
